.resultContainer{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
  background: var(--fondo);
}
.result{
  width: 40rem;
  display: block;
  text-align: center;
  z-index: 1;
}
.result p{
  color: var(--text-color);
  font-size: 2rem;
  line-height: 2.2;

}
.result .tituloletra{
  color: var(--main-color);
  font-size: 2.3rem;
  font-weight: 400; 
}
.result .separators{
  color:var(--main-color);
  font-size: 2.3rem;
}
@media (max-width: 400px){
  .result{
    width: 90%;
  }
  .result p{
    font-size: 2.8rem;
  }
  .result .tituloletra{
    font-size: 3rem;
  }
  .result .separators{
    font-size: 2.6rem;
  }
}