<footer class="footer">
  <span>© 2023.</span>
  <div id="footerText">
    <p id="firstText">Crafteado con el 💙 por Maycol Cali.</p>
    <p id="secondText">Hecho con 😴 en la pandemia 🦠.</p>
  </div>
  <a href="https://github.com/MyCaliGT" target="_blank"><i class="bx bxl-github"></i></a>
</footer>
<!-- scroll reveal -->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- typed multiple text -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!--swiper js-->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<!--custom js-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../js/header.js"></script>
<script src="../js/footer.js"></script>

</body>
</html>